.mainpara {
    margin-top: -450px;
    font-size: 110px;
    color: white;
    font-family: 'montez';
}

.mainparatwo {
    font-size: 110px;
    color: white;
    font-family: 'montez';
}

.maintwo {
    background-color: black;
    width: 100%;
    border: 2px solid black;
    padding-bottom: 100px;
}

.maintwopara {
    text-align: center;
    color: orange;
    font-size: 35px;
    padding-top: 220px;
}

.yourevent {
    background-color: white;
    width: 1400px;
    margin-top: 80px;
    margin-left: 50px;
    border-radius: 15px 15px 15px 15px;
    padding-bottom: 100px;
}

input {
    width: 450px;
}

.imggg {
    width: 100%;
    height: 800px;
}

.firstcol {
    margin-top: 0px;
}

@media (max-width:650px) {
    input {
        width: 400px;
    }
    .imggg {
        height: 500px;
    }
    .maintwopara {
        padding-top: 100px;
        font-size: 1px;
    }
    .mainpara {
        font-size: 70px;
    }
    .maintwo {
        margin-top: -50px;
    }
}